html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem;
}

.intro {
  font-size: 1rem;
}

main {
  flex: 1 0 auto;
}

.bold {
  font-weight:bold;
}

.search-group {
  margin-bottom: 6%;
}

#search-input {
  margin: 3% auto;
}

.loading {
  display: none;
  color: #e1e1e1;
  font-size: 15px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/*******************************************************************************
Advanced Search
*******************************************************************************/
.advanced-search {
  background: #E1E1E1;
  border: 2px solid #dee2e6;
  min-height: 500px;
  padding: 2em;
}

.form-control {
  border: 1px solid #9ba2a9;
}

.form-control:focus {
  border: 1px solid #495057;
  box-shadow: 0 0 0 0.2rem rgba(163, 163, 163, 0.25);
}

.advanced-submit {
  margin-top: 25%;
  float: right;
}

/*******************************************************************************
Search Results
*******************************************************************************/
.resultContent {
  margin: 8% 0%;
}

#project-table {
  margin-top: 2%;
}

td.projectLink {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 50px;
}

th {
  width: 25%;
}

#submit {
  margin-left: 15%;
}

.pagination {
  float: right;
  margin-right: 2%;
}

.miniheader {
  font-weight: 700;
}

.about-list {
  list-style: none;
}

.contact{
  width: 50%;
  margin: 0 auto;
}

footer {
  background: $gray-600;
  color: #fff;
  font-weight: 400;
  flex-shrink: 0;
  width: 100%;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #b4b4b4;
    text-decoration: none;
  }
}

.fab, .fas {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

i.footer-link {
  color: #ffffff;
}

i.footer-link:hover {
  color: #b4b4b4;
}

/*******************************************************************************
Dashboard
*******************************************************************************/
.username {
  font-weight:bold;
}

/*******************************************************************************
Add A Project
*******************************************************************************/
.add-a-country, .add-a-state {
  margin: 2% 0%;
}

.country-2 {
  display: none;
}

.state-2 {
  display: none;
}

small {
  margin-bottom: 2%;
}

.add-project-btns {
  margin-top: 4%;
}

.add-a-tag {
  margin-bottom: 4%;
}

/*******************************************************************************
Miscellaneous
*******************************************************************************/
.top {
  float: right;
}

#scroll {
  bottom: 5%;
  right: 2%;
  position: fixed;
  cursor: pointer;
  z-index: 99999;
  border-radius: 60px;
  background: #cbe1f5;
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
}

.arrow {
  margin-top: 8px;
  margin-left: -2px;
  width: 90%;
}
