@media only screen and (max-width: 667px) {
  .intro {
    display: none;
  }

  #search-input {
    width: 100%;
    margin-top: 8%;
  }

  .resultContent {
    margin: 10% 0%;
  }

  // don't show the other three columns
  th:nth-child(2), th:nth-child(3), th:nth-child(4) {
    display:none;
  }

  td.desc, td.creator {
    display:none;
  }

}
